ol.steps {
  list-style-type: decimal;
  padding-left: 20px;
}

ol.steps em {
  text-decoraton: none;
  font-weight: bold;
  font-style: normal;
}

.mute {
  color: gray;
}

ul.presentations li {
  list-style-type: none;
  float: left;
  margin-right: 25px;
  border-bottom: 1px dashed #EEE;
  width: 100%;
}

ul.presentations li:hover {
  background-color: #EEE;
}

.presentation h2 {
  padding: 5px 0 0 5px;
  margin: 0;
}

.presentation {
  padding-bottom: 30px;
}

.presentation .description {
  width: 75%;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.presentation .gravatar {
  float: right;
}

.presentation input {
  width: 250px;
}

.presentation-cell span {
  position:relative;
  top: 81px;
  padding-right: 3px;
  color: #CCC;
  display: block;
}

.presentation dl {
  margin-top: 10px;
  margin-left: 5px;
  float: right;
  width: 22%;
}

.presentation dt {
  float:left;
  text-align: right;
  width:25%; /* adjust the width; make sure the total of both is 100% */
 }

.presentation dd {
 float:left;
 padding-left: 5px;
 width:70%; /* adjust the width; make sure the total of both is 100% */
}

.presentation .manage-links {
  font-size: 10px;
  float: right;
  padding-right: 5px;
  padding-top: 7px;
}

.download {
  padding: 1em;
  font-size: 2em;
  text-align: center;
}
